<!-- main container -->
<div class="login-container">
	<!-- logo & description  -->
	<img class="film" src="/assets/film.png" alt="">
	<div class="logo">Rotten Potatoes</div>
	<div class="desc">
		<p>Welcome to Rotten Potatoes, your go-to destination for all things related to movies, from reviews and ratings to news and recommendations. Whether you're a film buff or just looking for your next cinematic experience, we've got you covered. Join our community of movie enthusiasts and dive into the world of cinema!</p>
	</div>
	<!-- login form with inputs -->
	<div class="login-form">
		<!-- username -->
		<div class="form-group">
			<label for="username">username</label>
			<input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="username please">
		</div>
		<!-- password -->
		<div class="form-group">
			<label for="password">password</label>
			<input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="password please">
		</div>
		<!-- login button -->
		<div class="btn-container">
			<!-- error message if required fields are false -->
			<div class="error">
				<p>{{errorMessage}}</p>
			</div>
			<button class="btn btn-dark" (click)="login()">login</button>
		</div>
		
	</div>
</div>
